

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  ::-webkit-scrollbar {
    width: 0;
}
 
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #f98e37;
    border-radius: 100px;
}

/* cores para o site
#fa6900 laranja escuro
#f38630 laranja claro
#e0e4cc off white
#a7dbd8 azul claro
#69d2e7 azul céu  
*/


.banner {
  height: 110vh;
  color: white;
  background-image: url('../assets/img/roman-chacornac-heart-of-planet-4.jpg');
  background-size: cover;
  width: 100%;
  margin-left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  
}

.container {
  width: 65%;
  margin: auto;
}

.banner .container {
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}




.banner p {
  color: #fa6900;
  width: 23%;
  margin: 0;
  padding: 0;
  /* font-weight: 500; */
  font-size: 36px;
  border-radius: 12px;
}

.banner span {
  font-weight: 900;
}

.social {
  display: flex;
  background-color: #e6ddddcc;
  padding: 50px 0;
  width: 100%;
  margin-left: 0%;
  height: auto;
  background-color: black;
  background-image: url('../assets/img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.social .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}



.social .container .box {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease; 
  
}
.social .container .box:hover {
  
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.filho {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: -100%;
  transform-origin: left;
  transition: left 1000ms;
  background: rgb(6,2,79);
  background: linear-gradient(90deg, rgba(6,2,79,0.7580429248595506) 0%, rgba(34,31,124,0.8563575316011236) 50%, rgba(6,2,79,0.7608519136235955) 84%);
  border-radius: 20px;  
}

.box:hover .filho {
  background: rgb(6,2,79);
  background: linear-gradient(90deg, rgba(6,2,79,0.7580429248595506) 0%, rgba(34,31,124,0.8563575316011236) 50%, rgba(6,2,79,0.7608519136235955) 84%);
  color: #ffffff;
  
  left: 0%;
  
  border-radius: 20px;  
}

.social .titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.social h2 {
  display: flex;
  padding: 20px;
  background-color: #3d8b9b;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #fa6900;
  margin: 0;
  transition: transform 1s;
  transform: translateX(0) scale(0.5);
  transition: all 1499ms ease;
}

.social h2:hover {
  display: flex;
  padding: 20px;
  background-color: #040257;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #f38630;
  margin: 0;
  transform: translateX(10px) scale(1.2);
  transition: all 1500ms ease;

}

.social .boxes {
  display: flex;
}


.social h4 {
  color: #ff0163;
  font-weight: 900;
  font-size: 25px;
}

.social p {
  width: 100%;
  font-weight: 900;
  font-size: 18px;
}

.Genero {
  display: flex;
  background-color: #e6ddddcc;
  padding: 50px 0;
  width: 100%;

  height: auto;
  background-image: linear-gradient(white);
  background-image: url('../assets/img/ed-laag-volcaniccatwalk-cropped-v004.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Genero .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.Genero .container .wall {
  background: rgb(6,2,79);
  background: linear-gradient(90deg, rgba(6,2,79,0.7580429248595506) 0%, rgba(34,31,124,0.8563575316011236) 50%, rgba(6,2,79,0.7608519136235955) 84%);  
  border-radius: 20px;
}

.Genero .titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Genero h2 {
  display: flex;
  padding: 20px;
  background-color: #3e93a3;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #f38630;
  margin: 0;
  font-size: 30px;
  transition: transform 1s;
  transform: translateX(0) scale(0.5);
  transition: all 1500ms ease;
}

.Genero h2:hover {
  display: flex;
  padding: 20px;
  background-color: #040257;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #f38630;
  margin: 0;
  font-size: 30px;
  transform: translateX(10px) scale(1.2);
  transition: all 1500ms ease;
}


.Genero .boxes .box {
  display: flex;
}

.Genero p {
  color: #FFF;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
}



.Genero .container h4 {
  display: flex;
  color: #e6005a;
  margin-top: 30px;
  width: auto;
}



.Genero span {
  display: flex;
  width: 100%;
  font-weight: 800;
  color: #ff0163;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 22px;
}
